<nav class="site-nav" aria-label="Hoofdnavigatie">
  <ul class="site-nav__list">
    <li class="site-nav__item">
      <a href="/" class="site-nav__link {% if page.url == '/' %}is-active{% endif %}">Home</a>
    </li>
    <li class="site-nav__item">
      <a href="/blog/" class="site-nav__link {% if '/blog' in page.url %}is-active{% endif %}">Blog</a>
    </li>
    <li class="site-nav__item">
      <a href="/werken-bij/" class="site-nav__link {% if page.url == '/werken-bij/' %}is-active{% endif %}">Werken bij</a>
    </li>
    <li class="site-nav__item">
      <a href="/contact/" class="site-nav__link site-nav__link--cta {% if page.url == '/contact/' %}is-active{% endif %}">Contact</a>
    </li>
  </ul>
</nav>
